<html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <title>Trabalho Redes</title>
  </head>

	<body>
        <form method=POST action="cgi-bin/webserver.py">
            <div class="row">
                <div class="col-md-2">
                <div class=" panel panel-success">
                <div class="panel-heading"> 
                <h3>Maquina 1:</h3></div>
                <div class="panel-body">
                <input type="checkbox" name="maq1_ps" value="ps">PS<br>
                <input type="text" name="maq1-ps"><br><br>
                <input type="checkbox" name="maq1_df" value="df">DF<br>
                <input type="text" name="maq1-df"><br><br>
                <input type="checkbox" name="maq1_finger" value="finger">FINGER<br>
                <input type="text" name="maq1-finger"><br><br>
                <input type="checkbox" name="maq1_uptime" value="uptime">UPTIME<br>
                <input type="text" name="maq1-uptime"><br><br>
                </div>
                </div>
                </div>
                 <div class="col-md-2">
                 <div class=" panel panel-danger">
                <div class="panel-heading"> 
                <h3>Maquina 2:</h3></div>
                <div class="panel-body">
                <input type="checkbox" name="maq2_ps" value="ps">PS<br>
                <input type="text" name="maq2-ps"><br><br>
                <input type="checkbox" name="maq2_df" value="df">DF<br>
                <input type="text" name="maq2-df"><br><br>
                <input type="checkbox" name="maq2_finger" value="finger">FINGER<br>
                <input type="text" name="maq2-finger"><br><br>
                <input type="checkbox" name="maq2_uptime" value="uptime">UPTIME<br>
                <input type="text" name="maq2-uptime"><br><br>
                </div>
                </div>
                </div>

                <div class="col-md-2">
                <div class=" panel panel-info">
                <div class="panel-heading">  
                <h3>Maquina 3:</h3></div>
                <div class="panel-body">
                <input type="checkbox" name="maq3_ps" value="ps">PS<br>
                <input type="text" name="maq3-ps"><br><br>
                <input type="checkbox" name="maq3_df" value="df">DF<br>
                <input type="text" name="maq3-df"><br><br>
                <input type="checkbox" name="maq3_finger" value="finger">FINGER<br>
                <input type="text" name="maq3-finger"><br><br>
                <input type="checkbox" name="maq3_uptime" value="uptime">UPTIME<br>
                <input type="text" name="maq3-uptime"><br><br>
                </div>
                </div>
                </div>

                <div class="col-md-2"><br><br><br><br><br><br><br>
                <input type="submit" class="btn btn-primary btn-lg" name="submit" value="Enviar"><br><br>
                <input type="reset" class="btn btn-default btn-lg" value="Limpar">
                </div>
            </div>

        </form>
        <q>When you tear out a man’s tongue, you are not proving him a liar, you’re only telling the world that you fear what he might say.</q> <br>        
        – Tyrion Lannister, to Cersei Lannister
    </body>
</html>


